.footer-area{
    background-color: #FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 8px 8px;
}

.footer-text{
    width: 100%;
    font-size: 15px;
    color: #757575;
    margin-left: 60px;
    margin-top: 30px;
}

.footer-button-content{
    width: 100%;
}

.arrow-button{
    height: 100px;
    margin: 0px 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

.arrow-text{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.arrow-bay{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.arrow-redirect{
    font-size: 18px;
    color: #757575;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55px;
    background-color: #CF4940;
}

.right-arrow:after {
    content:'\2192';
    font-size: 40px;
    color: white;
    position:relative;
    top:-8px;
}